<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tindee</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <header class="navbar navbar-fixed-top navbar-default">
      <div class="container nav-left">
        <div class="navbar-header">
          <img id="logo-nav" src="/images/logo-nav.png">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-links" href="">FEATURES</a></li>
              <li><a class="nav-links" href="">LOGIN</a></li>
            </ul>
        </div>
      </div>
    </header>
  </head>
  <body>
      <div class="well-no-border top">
        <%- body %>
      </div>
  </body>
</html>


