body {
  min-width: 300px;

}

.top {
  background-color: rgba(245, 245, 245, 0.75);
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  height: 690px;
  max-width: 1600px;
  background-position: top right;
  margin: auto;
}

#main-left {
  background-color: rgba(245, 245, 245, 0);
  border: 0px;
  width: 70%;
  float: left;
  /*background-image: url("../images/logo.png");*/
  height: 500px;
  background-repeat: no-repeat;
  margin: auto;
  min-width: 300px;
}

.top-section {
  padding-right: 15px;
  padding-left: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

.main-font {
  font-family: 'Dosis', sans-serif;
  padding-top: 20px;
  text-shadow: black 0px 1px 6px;
  /*font-size: 50px;
  font-size: 5.5vw;*/
  font-size: 3.2vmax;
  font-weight: lighter;
  color: white;
}

#logo {
  max-width: 100%;
  min-width: 100px;
}

.main-description {
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  text-shadow: black 0px 0px 12px;
/*  font-size: 25px;
  font-size: 2.5vw;*/
  font-size: 2vmax;
  font-weight: normal;
  color: white;
}

.btn-cta.btn-inverted {
  background-color:none;
  border:2px solid #fff;
  color:#fff
}

